{cover_enabled, true}.
{deps,[
    {sendfile, ".*", {git, "git://github.com/tuncer/sendfile.git", "master"}},
    {cowboy, ".*", {git, "git://github.com/extend/cowboy.git", "master"}},
    {lhttpc, ".*", {git, "git://github.com/esl/lhttpc.git", "master"}},
    {getopt, ".*", {git, "git://github.com/jcomellas/getopt.git", "master"}}]}.
